@{
    ViewData["Title"] = "Contact";
      Layout = "~/Views/Shared/_BlankLayout.cshtml";
}
    @*<div style="margin-left:500px; margin-top:100px">
        <img src="~/images/guest.png" />
    </div>*@