@model HotelReservation.Models.HotelType

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}





<div id="bg">
    <div class="modal-header" style="border:1px solid black; background-color: #777">
        <h2>Delete Hotel Type</h2>
    </div>

    @using (Html.BeginForm("Delete", "HotelTypes", FormMethod.Post, new { enctype = "multipart/form-data", @class = "wizard-big wizard clearfix" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(x => x.HotelTypeId)
        <div class="modal-body" style="border:1px solid black; margin-top:2px">
            <text>Are you sure you want to delete this?</text>

        </div>
        <div class="modal-footer" style="border:1px solid black; background-color: #777; margin-top:2px">
            <input type="submit" value="Delete" class="btn btn-outline-dark btn-danger" />



            <button type="button" class="btn btn-outline-dark btn-sm" onclick='window.location.href="@Url.Action("Index", "HotelTypes")" '>No</button>

        </div>
    }
</div>
















@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
